body {
  font-family: sans-serif;
  width: 90%;
  max-width: 960px;
  margin: 10px auto;
}
div {
  height: 100px;
  border: 1px solid black;
}
button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}
/* flexbox here */
div {
    display: flex;
    /* 
    Vertical alignment, most used values are
    center
    start
    end
    */
    align-items: center;
    /* 
    Horizontal alignment, most used values are
    space-between
    space-around
    start
    end
    */
    justify-content: flex-end;
}
