/* flex container properties */
section {
    /*
    display: flex is the starting point when a container is meant
    to be treated with the flexbox model. This property converts the target
    container into a block item but its children will become flex container    
    felexible aligned within. If the container needs to be an inline element
    you can set the display property to 'inline flex' with a single-value
    fallback property in case your browser doesn't support it:

    .container {
        display: inline flex;
        display: inline-flex
    }
    */
    display: flex;
    /* 
    the flex-direction: property sets the direction of the main axis, defaults to row
    to display hrizontally in the direction of your default browser language which in 
    most cases is left to right. Available values are:
    
    row
    column
    row-reverse
    column-reverse
    */
    /* flex-direction: column; */
    /* 
    Sometimes flex items don't fit into the flex container default or max-width,
    here is where the flex-wrap: property comes in handy, every item wider than the available
    space will come to the next line.
    */
    /* flex-wrap: wrap; */
    /* 
    There's a shorthand property to merge flex-direction and flex-wrap, the flex-flow property
    can combine the values previously exposed
    */
    flex-flow: row wrap;
}

/* flex items properties */
article {
    /* 
    The flex property sets a proportional unitless value for items
    in this case all items will share the same one proportional size
    */
    flex: 1;
}

article:nth-of-type(3) {
    /* 
    In this case this item will be twice the value of the rest od the items.
    */
    flex: 2;
}
